body {
  background-color: #0B2027;
  font-family: 'Asap', sans-serif;
}

#logo {
  display: inline-block;
  width: 10%;
  height: auto;
  vertical-align: middle;
}

#title {
  font-size: 50px;
  display: inline-block;
  font-family: 'Anton', sans-serif;
  color: #70A9A1;
  vertical-align: middle;
}

#putTheWidgetHere {
  height: 100%;
}

#dashboard {
  background-color: #0B4F6C;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  padding: 10px;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.line {
  width: 90%;
  height: 3px;
  background-color: #40798C;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#reactions, #suggestions {
  display: block;
  margin: auto;
}

.reactionButton {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0px;
  float: right;
}

.reactionButton img {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
}

#partyparrot {
  width: 40px;
  height: auto;
}

.counter {
  margin-top: 15%;
  color: #70A9A1;
  font-size: 20px;
  text-align: left;
}

#suggestionHeader {
  margin-top: 15px;
  color: #70A9A1;
  font-size: 20px;
  text-align: center;
}