<div>
<div class="col-sm-2">
  <button id="smileButton">Smile</button>
</div>
<div class="col-sm-2">
  <div id="smileCounter" class="counter">
    0
  </div>
</div>
<div class="col-sm-2">
  <button id="cryButton">Cry</button>
</div>
<div class="col-sm-2">
  0
</div>
<div class="col-sm-2">
  <button id="aversionButton">Aversion</button>
</div>
<div class="col-sm-2">
  0
</div>
<div class="col-sm-2">
  <button id="danceButton">Dance</button>
</div>
<div class="col-sm-2">
  0
</div>
<div class="col-sm-2">
  <button id="chillButton">Chill</button>
</div>
<div class="col-sm-2">
  0
</div>
<div class="col-sm-2">
  <button id="rockButton">Rock</button>
</div>
<div class="col-sm-2">
  0
</div>
<div class="col-sm-2">
  <button id="romanticButton">Romantic</button>
</div>
<div class="col-sm-2">
  0
</div>
</div>