{% load staticfiles %}

<div class="row">
  <div class="col-sm-2">
    <button id="smileButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/smile.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="smileCounter" class="counter">
      0
    </div>
  </div>
  <div class="col-sm-2">
    <button id="cryButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/cry.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="cryCounter" class="counter">
      0
    </div>
  </div>
  <div class="col-sm-2">
    <button id="aversionButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/aversion.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="aversionCounter" class="counter">
      0
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <button id="danceButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/partyparrot.gif' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="danceCounter" class="counter">
      0
    </div>
  </div>
  <div class="col-sm-2">
    <button id="chillButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/peace.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="chillCounter" class="counter">
      0
    </div>
  </div>
  <div class="col-sm-2">
    <button id="rockButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/rock.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="rockCounter" class="counter">
      0
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button id="romanticButton" class="reactionButton"><img src="{% static 'breakTheStereoApp/images/romantic.png' %}" /></button>
  </div>
  <div class="col-sm-2">
    <div id="romanticCounter" class="counter">
      0
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>