<!DOCTYPE html>
<html>

	<head>
		<title>Break the Stereo</title>
		{% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href='https://fonts.googleapis.com/css?family=Anton|Asap:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href='{% static "breakTheStereoApp/css/style.css" %}'>

		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
		<script>
		  SC.initialize({
		    client_id: '2140f1d78d988bcd133e7b7eb18c3696',
		    redirect_uri: 'http://example.com/callback'
		  });
		</script>
		<script src= '{% static "breakTheStereoApp/api.js" %}'></script>\
		<style type="text/css">
			iframe{
				height: 600px;
			}
			.multiSounds__sound {
				height: 200px; !important
			}

		</style>
		

	</head>

	<body>
    <div class="col-sm-12" id="header">
      <img id="logo" src='{% static "breakTheStereoApp/images/logo.png" %}' />
			<h1 id="title"> Break The Stereo </h1>
    </div>

		{% include "breakTheStereoApp/musicWidget.html" %}
		{% include "breakTheStereoApp/dashboard.html" %}
    	
		<script src= '{% static "breakTheStereoApp/app.js" %}'></script>
		<script src= '{% static "breakTheStereoApp/test.js" %}'></script>

	</body>

</html>
