{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src= '{% static "breakTheStereoApp/test.js" %}'></script>
<h1> Break The Stereo </h1>

<img src= '{% static "breakTheStereoApp/pikachuIcon.jpg" %}' alt = "Pikachu img"/>
{% if songs %}
  <ul>
  {% for song in songs %}
    <li> {{song.name}} </li>
  {% endfor %}
  </ul>
{% else %}
  <p> No Songs Found </p>
{% endif %}